<template>
  <v-container fluid fill-width pt-0 px-0>

  <v-layout>
    <v-flex md12 xs12 mx-0>
      <div style="margin-top:-150px">
        <img src="/public/rof-circled.png" style="height:100%; width:100%"/>
        <p class="white--text gray"
          style="font-size:10px;background-color:gray;width:20%;margin-top:-30px;">
          "Source : https://www.youtube.com/watch?v=DrwYtGf40hA "
        </p>
      </div>
    </v-flex>
  </v-layout>

  <v-layout row mt-5 style="text-align:center">
    <v-flex xs8 offset-xs2>
      <div>
        <!-- <h1 style="font-size:50px;padding-bottom:0.5em">INDONESIA</h1> -->
        <h1 class="display-3">INDONESIA</h1>
        <!-- <p style="font-size:15px; margin-bottom:0"> -->
        <p class="subheading">
          Berada di antara pertemuan 3 <b>lempeng tektonik utama dunia</b>. Hal ini menyebabkan : <br>
          - <b> Rawan bencana gempa bumi dan tsunami </b> <br>
          - <b> Rawan bencana letusan gunung api </b><br>
          - <b> Rentan bencana gerakan tanah </b>
        </p>
      </div>
    </v-flex>
  </v-layout>

  <v-layout px-3 row wrap mb-4>
    <v-flex xs8 mt-5 offset-xs2>
      <img src="/public/gempabumi-palu.jpg" style="height:100%; width:100%"/>
      <p class="white--text" style="font-size:10px;margin-top:-20px;margin-left:5px;">
        Source : https://fingfx.thomsonreuters.com/gfx/rngs/INDONESIA-QUAKE/010080MZ19R/index.html</p>
    </v-flex>
    <v-layout xs-6 row mt-5 align-center style="text-align:center;">
      <v-flex xs8 offset-xs2>
        <div>
          <!-- <h1 style="font-size:20px;padding-bottom:0.5em">BENCANA GEMPA BUMI</h1> -->
          <h1 primary-title class="black--text">BENCANA GEMPA BUMI</h1>
          <!-- <p style="font-size:15px"> -->
          <p class="subheading black--text">
            Bencana gempa bumi tidak hanya menyebabkan jalanan retak dan bangunan serta rumah hancur, <br> namun juga menyebabkan warga Indonesia kehilangan keluarga tercintanya.
          </p>
        </div>
      </v-flex>
    </v-layout>
  </v-layout>

  <v-layout row wrap mt-4>
    <v-flex xs8 offset-xs2>
      <v-carousel
          delimiter-icon="broken_image">
          <v-carousel-item
            v-for="(item,i) in items"
            :key="i"
            :src="item.src"
          ></v-carousel-item>
      </v-carousel>
    </v-flex>
  </v-layout>

  <v-layout row wrap mt-3>
    <v-flex xs8 offset-xs2>
      <v-layout row wrap>
        <v-flex xs4>
          <v-card-title primary-title>
            <div>
              <h3 class="display-1 font-weight-medium mb-3
                         blue--text text--darken-1">
                Gempa bumi Aceh 2004
              </h3>
              <div class="subheading" style="text-align:justify">
                Gempa ini terjadi pukul 00:58 WIB pada tanggal 26 Desember 2004. Episentrumnya terletak di lepas pantai barat Sumatera, Indonesia. Guncangan gempa tersebut berskala 9,1–9,3 SR dan menyebabkan tsunami. Ini adalah gempa bumi terbesar ketiga yang pernah tercatat di seismograf dan durasi patahan terpanjang sepanjang sejarah (antara 8,3 dan 10 menit). Gempa ini menyebabkan seluruh planet Bumi bergetar 1 cm dan memicu aktivitas gempa di berbagai wilayah, termasuk Alaska. 
                <br /><br />Menurut U.S. Geological Survey, sebanyak 227.898 jiwa meninggal dunia akibat bencana ini dari berbagai negara. Sedangkan korban meninggal di Indonesia mencapai 130,736 jiwa dan lebih dari 500.000 penduduk kehilangan tempat tinggal.
              </div>
            </div>
          </v-card-title>
        </v-flex>
        <v-flex xs4>
          <v-card-title primary-title>
            <div>
              <h3 class="display-1 font-weight-medium mb-3
                         blue--text text--darken-1">
                Gempa bumi Sumatera 2005
              </h3>
              <div class="subheading" style="text-align:justify">
                Gempa ini terjadi pada pukul 23.09 WIB pada 28 Maret 2005. Pusat gempanya berada di 30 km di bawah permukaan Samudra Hindia, 200 km sebelah barat Sibolga, Sumatera atau 1400 km barat laut Jakarta, sekitar setengah jarak antara pulau Nias dan Simeulue. Catatan seismik memberikan angka 8,7 skala Richter dan getarannya terasa hingga Bangkok, Thailand, sekitar 1.000 km jauhnya. Dengan kekuatan sebesar 8,7 SR, gempa ini merupakan gempa Bumi terbesar kedua di dunia sejak tahun 1964. Sempat muncul peringatan akan kemungkinan datangnya tsunami yang akhirnya tidak terjadi. 
                <br /><br />Nias menjadi salah satu tempat dengan kerusakan terparah. Sekitar 290 orang kemungkinan telah meninggal. Kota terbesar di Nias, Gunungsitoli dilaporkan mempunyai banyak gedung yang rusak berat (sekitar 60%). Menara bandara juga roboh dan jalan-jalan tampak retak.
              </div>
            </div>
          </v-card-title>
        </v-flex>
        <v-flex xs4>
          <v-card-title primary-title>
            <div>
              <h3 class="display-1 font-weight-medium mb-3
                         blue--text text--darken-1">
                Gempa Bumi Jawa Barat 2006
              </h3>
              <div class="subheading" style="text-align:justify">
                Gempa Bumi berkekuatan 6,8 SR melanda pulau Jawa pada 17 Juli 2006 pukul 15.19 WIB. Pusat gempa berada di Samudera Hindia lepas pantai Jawa Barat, berjarak sekitar 225 Km Barat Daya Kabupaten Pangandaran. Gempa bumi ini menyebabkan tsunami setinggi 5 meter yang menghancurkan rumah di pesisir selatan Jawa. 
                <br /><br />Gempa dan tsunami ini  menewaskan setidaknya 668 jiwa, 65 hilang (diasumsikan meninggal dunia) dan 9.299 lainnya luka-luka. Sebagian besar korban tewas dan kerusakan merupakan akibat terjangan gelombang tsunami. Dilaporkan tempat liburan pantai di Pangandaran mengalami rusak parah dan ribuan rumah dan perahu milik nelayan hancur.
              </div>
            </div>
          </v-card-title>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-layout>

  </v-container>
</template>

<script>
export default {
    data () {
      return {
        items: [
          {
            src: 'https://www.dw.com/image/15723878_303.jpg'
          },
          {
            src: 'https://cdn1.katadata.co.id/media/images/thumb/2018/08/06/2018_08_06-12_43_54_41b85cabbd417060b4e2a936680116d5_960x640_thumb.jpg'
          },
          {
            src: 'https://s.republika.co.id/uploads/images/inpicture_slide/foto-udara-pascagempa-dan-tsunami-di-kota-palu-sulawesi-tengah-_181003160950-760.jpg'
          },
          {
            src: 'https://alibaba.kumpar.com/kumpar/image/upload/c_fill,g_face,f_jpg,q_auto,fl_progressive,fl_lossy,w_800/wyvsqkq1wtl5nidskywh.jpg'
          }
        ]
      }
    }
  }
</script>
