<template>
<div>
  <v-layout row wrap>
    <div ref="barContainer" class="svg-container"></div>
  </v-layout>
</div>
</template>

<script>
import * as d3 from 'd3';
// import * as d3tip from 'd3-tip';

export default {
  props: ['yearRange'],
  data() {
    return {
      width: 900,
      height: 500,
      mainGraphic: null,
      axisxGraphic: null,
      axisyGraphic: null,
      hoverGraphic: null,
      pathGraphic: null,
      focusbar: null,
    }
  },
  methods: {
    initbarchartDatavis( root ) {
        var margin = {top: 20, right: 20, bottom: 30, left: 40},
            width = this.width - margin.left - margin.right,
            height = this.height - margin.top - margin.bottom;

        var x = d3.scale.ordinal().rangeRoundBands([0, width], .05);

        var y = d3.scale.linear().range([height, 0]);


        const gMain = d3.select(root).append("svg")
            .attr("preserveAspectRatio", "xMinYMin meet")
            .attr("viewBox", "0 0 "+ this.width + " " + this.height)
            .classed("svg-content", true)
            .append("g")
            .attr("id", "mainbar")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        /*const  gMain = d3.select(root).append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
          .append("g")
            .attr("transform",
                  "translate(" + margin.left + "," + margin.top + ")");*/

        // D3-tip
        /*var tip = d3.tip()
            .attr('class', 'd3-tip')
            .offset([-10, 0])
            .html(function(d) {
                return "<strong>Korban Meninggal:</strong> <span style='color:red'>" + d.value + "</span>";
            })

        gMain.call(tip);*/

        const gPath = gMain.append("path")
            .attr( "id", "pathbar" )
            .attr("class", "bar");

        this.mainGraphic = "#mainbar";
        this.axisxGraphic = "#axisxbar";
        this.axisyGraphic = "#axisybar";
        this.hoverGraphic = "#hoverbar";
        this.pathGraphic = "#pathbar";
        this.focusbar = "#focushoverbar";


    },
    drawbar() {
        if(this.mainGraphic == null) {
          return;
        }

        var margin = {top: 50, right: 20, bottom: 30, left: 40},
            width = this.width - margin.left - margin.right,
            height = this.height - margin.top - margin.bottom;

        var x = d3.scale.ordinal().rangeRoundBands([0, width], .05);

        var y = d3.scale.linear().range([height, 0]);


        var xAxis = d3.svg.axis()
            .scale(x)
            .orient("bottom")
            .ticks(10);

        var yAxis = d3.svg.axis()
            .scale(y)
            .orient("left")
            .ticks(10);

        const gMain = d3.select(this.mainGraphic);
        const gXAxis = d3.select(this.axisxGraphic);
        const gYAxis = d3.select(this.axisyGraphic);
        const gHover = d3.select(this.hoverGraphic);
        const gPath = d3.select(this.pathGraphic);
        const focus = d3.select(this.focusbar);

        gMain.selectAll(".bar").remove();
        gMain.selectAll("*").remove(); // nanti dihapus ya nim

        d3.csv("/public/data/bar_data.csv", (error, data) => {

          // Filter Data
          data = data.filter((d) => {
            return d.year >= this.yearRange[0]
              && d.year <= this.yearRange[1]
          })

          data.forEach((d) => {
              d.year = +d.year;
              d.value = +d.value;
          });

          x.domain(data.map((d) => { return d.year; }));
          y.domain([0, d3.max(data, (d) => { return d.value; })]);

          const gXAxis = gMain.append("g")
            .attr("id", this.axisxGraphic)
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis)
            .selectAll("text")
            .style("text-anchor", "middle")
            .attr("dx", "+.0em")
            .attr("dy", "+.460em")
            .attr("transform", "rotate(0)" );

          const gYAxis = gMain.append("g")
            .attr("id", this.axisyGraphic)
            .attr("class", "y axis")
            .call(yAxis)
            .append("text")
            .attr("transform", "rotate(-90)")
            .attr("y", 6)
            .attr("dy", ".71em")
            .style("text-anchor", "end")
            .text("Korban Meninggal");


          gMain.selectAll(".bar")
              .data(data)
            .enter().append("rect")
              .attr("class", "bar")
              .attr("x", (d) => { return x(d.year); })
              .attr("width", x.rangeBand())
              .attr("y", (d) => { return y(d.value); })
              .attr("height", (d) => { return height - y(d.value); })
              /*.on('mouseover', tip.show)
              .on('mouseout', tip.hide);*/

        });
    }
  },
  mounted() {
    this.initbarchartDatavis( this.$refs[ 'barContainer' ] );
    this.drawbar();
  },
  watch: {
    yearRange(val) {
      this.drawbar();
    }
  },
}
</script>

<style>

/* .axis {
    font: 10px sans-serif;
} */

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bar {
    fill: darkred;
}

.bar:hover {
    fill: red;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}
</style>
