<template>
<v-container>
  <v-layout
    row
    wrap
    mt-2
    hidden-md-and-down>
    <v-range-slider
      v-model="year"
      label="Rentang Tahun"
      thumb-color="red"
      thumb-label="always"
      min="2010"
      max="2018"
      step="1"
      ticks
      tick-size="2"
      always-dirty
    ></v-range-slider>
  </v-layout>

  <!-- Top -->
  <v-layout row wrap fill-height mt-3>

    <!-- Text -->
    <v-flex xs12 lg4 pr-2>
      <v-layout row wrap>
        <v-flex xs12 mb-3>
          <v-card color="yellow darken-3" dark px-3 >
            <v-card-title primary class="title">Highlight</v-card-title>
            <v-card-text>
              Worst Magnitude : {{ worstMagnitudeHt }}
              <br/>
              Location : {{ worstMagnitudeLocation }}
            </v-card-text>
          </v-card>
        </v-flex>
        <v-flex xs12 mb-3>
          <v-card color="blue lighten-1" dark px-3 >
            <v-card-title primary class="title">Story</v-card-title>
            <!-- TODO : Nanti dibenerin, pakai v-for aja -->
            <v-card-text v-show="2010 >= year[0] && 2010 <= year[1]">{{ naration2010 }}</v-card-text>
            <v-card-text v-show="2011 >= year[0] && 2011 <= year[1]">{{ naration2011 }}</v-card-text>
            <v-card-text v-show="2012 >= year[0] && 2012 <= year[1]">{{ naration2012 }}</v-card-text>
            <v-card-text v-show="2013 >= year[0] && 2013 <= year[1]">{{ naration2013 }}</v-card-text>
            <v-card-text v-show="2014 >= year[0] && 2014 <= year[1]">{{ naration2014 }}</v-card-text>
            <v-card-text v-show="2015 >= year[0] && 2015 <= year[1]">{{ naration2015 }}</v-card-text>
            <v-card-text v-show="2016 >= year[0] && 2016 <= year[1]">{{ naration2016 }}</v-card-text>
            <v-card-text v-show="2017 >= year[0] && 2017 <= year[1]">{{ naration2017 }}</v-card-text>
            <v-card-text v-show="2018 >= year[0] && 2018 <= year[1]">{{ naration2018 }}</v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-flex>

    <v-layout
      row
      wrap
      mt-2
      hidden-lg-and-up>
      <v-range-slider
        v-model="year"
        label="Year Range"
        thumb-color="red"
        thumb-label="always"
        min="2010"
        max="2018"
        step="1"
        ticks
        tick-size="2"
        always-dirty
      ></v-range-slider>
    </v-layout>

    <!-- Map -->
    <v-flex xs12 lg8>
      <v-flex xs12 lg12 mb-5>
        <div>
          <h1>Peta Gempa Indonesia</h1>
          <hr noshade>
          <br />
        </div>
        <Map :yearRange="year"></Map>
      </v-flex>
      <!-- Line -->
      <v-flex xs12 lg12 mb-5>
        <div>
          <h1>Trend Gempa Indonesia</h1>
          <hr noshade>
          <br />
        </div>
        <Linechart :yearRange="year"></Linechart>
      </v-flex>
      <!-- Bar -->
      <v-flex xs12 lg12>
        <div>
          <h1>Jumlah Korban Meninggal Akibat Gempa Bumi</h1>
          <hr noshade>
          <br />
        </div>
        <!-- <Linechart :yearRange="year"></Linechart> -->
        <Barchart :yearRange="year"></Barchart>
      </v-flex>
    </v-flex>
  </v-layout>

  <!-- Bottom -->
  <!-- <v-layout align-center justify-center row wrap> -->
    <!-- Line -->
    <!-- <v-flex xs12 lg6> -->
      <!-- <Linechart :yearRange="year"></Linechart> -->
    <!-- </v-flex> -->
    <!-- Bar -->
    <!-- <v-flex xs12 lg6> -->
      <!-- <Linechart :yearRange="year"></Linechart> -->
      <!-- <Barchart :yearRange="year"></Barchart> -->
    <!-- </v-flex> -->
  <!-- </v-layout> -->
</v-container>
</template>

<script>
import Map from './map';
import Linechart from './linechart';
import Barchart from './barchart';
import * as d3 from 'd3';

export default {
  components: {
    Map,
    Linechart,
    Barchart
  },
  data() {
    return {
      rangeSlider: [2010, 2018],
      year: [2013, 2015],
      worstMagnitudeByYear: {},
      worstLocationByYear: {},
      worstMagnitude: '',
      worstMagnitudeLoc: '',
      naration2010: 'Pada tahun 2010, 7 April 2010 \
      5:15 AM waktu lokal terjadi gempa bumi berkekuatan 7,2 SR di lepas pantai \
      Sumatera, provinsi Sumatra Utara. Gempa terjadi dengan kedalaman sekitar \
      34 km dan pusat gempa berada di 75 km tenggara Sinabang. \
      Gempa bumi yang terjadi menyebabkan banyak bangunan yang rusak, dan \
      mengakibatkan puluhan warga terluka.',
      naration2011: 'Pada 4 April 2011 terjadi gempa di 293 km barat daya Cilacap, \
      Jawa Tengah dengan kekuatan 7,1 SR. Gempa juga menyebabkan satu orang tewas, \
      karena serangan jantung setelah mengungsi disebabkan ada informasi akan terjadi \
      tsunami. Selain itu pada 13 Oktober 2011 terjadi gempa bumi dengan kekuatan 6,8 Mw \
      pada 143 kilometer arah Barat Daya Nusa Dua, Bali. Gempa ini dirasakan di berbagai \
      daerah lain, seperti Mataram, Malang, dan Yogyakarta.',
      naration2012: 'Pada 25 Juli 2012 pukul 7:27 WIB terjadi gempa bumi dengan kedalaman 10 km dengan intensitas gempa 6,4 Mw dengan pusat gempa pada 24 km barat daya Kabupaten Simeulue, Aceh. Gempa ini menyebabkan kerusakan pada beberapa bangunan di Simeulue Tengah, Simeulue Barat, dan Salang. Gempa yang berlangsung selama 2 menit ini juga menyebabkan jaringan komunikasi sejumlah operator telekomunikasi terganggu karena listrik mati dan rusaknya infrastruktur base transceiver station (BTS).',
      naration2013: 'Gempa bumi terjadi pada 22 Juni 2013 pukul 13:42 WITA di Lombok dengan kedalaman gempa 10 km serta intensitas gempa 5,4 Mw. Guncangan gempa ini dirasakan di Lombok, serta di beberapa wilayah di Bali seperti Kuta, Denpasar, Gianyar, dan Karangasem. Gempa ini menyebabkan ribuan rumah mengalami kerusakan. Selain itu gempa ini juga merusak sarana ibadah, kesehatan, dan pendidikan. ',
      naration2014: 'Gempa bumi yang terjadi pada 15 November 2014 pukul 11:31 WIT dengan kekuatan gempa 7,3 skala richter. Pusat gempa berada di Laut Maluku berjarak sekitar 160 Km barat laut Ternate dengan kedalaman 48 Km dan berpotensi Tsunami. Guncangan gempa membuat kerusakan pada bangunan salah satunya di Hotel Lion Manado. Reruntuhan tembok menimpa mobil yang terparkir. Reruntuhan batu bata berserakan, sementara kanopi hotel juga rusak. Tak ada korban jiwa dan luka-luka dalam kejadian ini.',
      naration2015: 'Pada 24 September 2015 pada pukul 22.53 WIB terjadi gempa bumi berkekuatan 6,8 SR yang berpusat di laut berjarak 31 kilometer Timur Laut Kota Sorong, Papua Barat pada  kedalaman gempa bumi 10 kilometer. Di Kota Sorong geempa tersebut diarasakan kuat selama 15 detik. Masyarakat berhamburan keluar rumah. Pasien di rumah sakit dievakuasi ke luar gedung. Gempa ini disebabkan oleh pergerakan dua lempeng yaitu lempeng Laut Filipina dengan blok kepala burung Papua dalam hal ini adalah Garis sesar Manokwari.',
      naration2016: 'Kawasan Sumatera Barat diguncang gempa berkekuatan 7,8 SR pada 2 Maret 2016 pukul 19.49 WIB yang berpusat di perairan sejauh 682 kilometer sebelah barat daya Kepulauan Mentawai, dengan kedalaman 10 kilometer. Masyarakat langsung ke luar rumah ketika gempa terjadi. Namun, sejauh yang dilihat, tidak ada kerusakan besar. BMKG menyebut gempa itu berpotensi menimbulkan tsunami yang bisa memapar Provinsi Sumatera Barat, Sumatera Utara, Aceh, Bengkulu, dan Lampung.',
      naration2017: 'Sebuah gempa berkekuatan 6.5 SR melanda Tasikmalaya pada tanggal 15 Desember 2017, Pukul 23.47 WIB. BNPB menyebutkan sebanyak 4 orang tewas, 36 orang Luka-luka dan 4.969 rumah rusak terdiri 730 rusak berat, 1.323 rusak sedang dan 2.916 rusak ringan di sejumlah wilayah terdampak. Gempa ini dinyatakan berpotensi Tsunami oleh BMKG sehingga dikeluarkan peringatan dini Tsunami untuk wilayah di selatan Jawa Barat, Jawa Tengah dan DIY.',
      naration2018: 'Pada tanggal 29 Juli 2018 terjadi gempa yang melanda Pulau Lombok. Gempa ini berkekuatan 6,4 Mw dan berjarak 47 km timur laut Kota Mataram, Nusa Tenggara Barat dengan kedalaman 24 km. Selain itu pada 28 September 2018, pukul 18.02 WITA terjadi gempa bumi berkekuatan 7,4 Mw diikuti dengan tsunami yang melanda pantai barat Pulau Sulawesi. Menurut BNPB, korban meninggal gempa ini mencapai 2045 orang',
    }
  },
  watch: {
    year(val) {
      this.worstResult = this.cariMaximum(this.worstMagnitudeByYear, this.worstLocationByYear);
      this.worstMagnitude = this.worstResult[0];
      this.worstMagnitudeLocation = this.worstResult[1];
      console.log(this.year);
      console.log(this.worstMagnitude);
    }
  },
  computed: {
    worstMagnitudeHt() {
      return this.worstMagnitude;
    },

    worstMagnitudeLc() {
     return this.worstMagnitudeLocation;
    }
  },
  methods: {
    cariMaximum(rangeMag, rangeLoc) {
      let mx = 0;
      let idx = 0;
      let loc = '';
      let result = []
      for(let y = this.year[0]; y <= this.year[1]; y++) {
        if(mx < rangeMag[y]) {

          mx = rangeMag[y]
          idx = y
        }
      }

      loc = rangeLoc[idx];
      result = [mx, loc];

      return result;
    }
  },
  mounted() {
    // Get Maximum
    d3.csv( '/public/data/gempa_map_v2.csv', ( data ) => {
      for (let i = this.rangeSlider[0]; i <= this.rangeSlider[1]; i++) {
        const dyear = data.filter((d) => {
          return +d.date.split("/")[2] === i;
        });

        let mag = [];
        let loc = [];
        let year = 0;
        dyear.forEach((d, index) => {
          year = d.date.split("/")[2]
        	mag.push(+d.magnitude)
          loc.push(d.location)
        });

        if (year !== 0) {
          this.worstMagnitudeByYear[year] = Math.max(...mag);
          this.worstLocationByYear[year] = loc[mag.indexOf(this.worstMagnitudeByYear[year])];
        }
      }

      this.worstResult = this.cariMaximum(this.worstMagnitudeByYear, this.worstLocationByYear); // bug
      this.worstMagnitude = this.worstResult[0];
      this.worstMagnitudeLocation = this.worstResult[1];
    });

    //this.worstMagnitude = this.cariMaximum(this.worstMagnitudeByYear); // bug
  },
}
</script>
