<template>
<div>
  <v-layout row wrap>
    <div ref="lineContainer" class="svg-container"></div>
  </v-layout>
</div>
</template>

<script>
import * as d3 from 'd3';

export default {
  props: ['yearRange'],
  data() {
    return {
      width: 900,
      height: 500,
      mainGraphic: null,
      axisxGraphic: null,
      axisyGraphic: null,
      hoverGraphic: null,
      pathGraphic: null,
      focusline: null,
    }
  },
  methods: {
    initLinechartDatavis( root ) {
      var margin = {top: 20, right: 50, bottom: 30, left: 50},
      width = this.width - margin.left - margin.right,
      height = this.height - margin.top - margin.bottom;

      // .attr("width", width + margin.left + margin.right)
      // .attr("height", height + margin.top + margin.bottom)
      var svg = d3.select(root).append("svg")
        .attr("preserveAspectRatio", "xMinYMin meet")
        .attr("viewBox", "0 0 "+ this.width + " " + this.height)
        .classed("svg-content", true)
        .append("g")
        .attr("id", "mainline")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      const gXAxis = svg.append("g")
        .attr( "id", "axisxline" )
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")");

      const gYAxis = svg.append("g")
        .attr( "id", "axisyline" )
        .attr("class", "y axis");

      // Label Y Axis (not ticks)
      gYAxis.append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", 6)
        .attr("dy", ".71em")
        .style("text-anchor", "end")
        .text("Jumlah Kejadian");

      // Hover
      var focus = svg.append("g")
        .attr( "id", "focushoverline" )
        .attr("class", "focus")
        .style("display", "none");

      focus.append("circle")
        .attr("r", 4.5);

      focus.append("text")
        .attr("x", 9)
        .attr("dy", ".35em");

      const gHover = svg.append("rect")
        .attr("class", "overlay")
        .attr( "id", "hoverline" )
        .attr("width", width)
        .attr("height", height);

      // path
      const gPath = svg.append("path")
        .attr( "id", "pathline" )
        .attr("class", "line");

      // Set to global
      this.mainGraphic = "#mainline";
      this.axisxGraphic = "#axisxline";
      this.axisyGraphic = "#axisyline";
      this.hoverGraphic = "#hoverline";
      this.pathGraphic = "#pathline";
      this.focusline = "#focushoverline";

    },
    drawLine() {
        if(this.mainGraphic == null) {
          return;
        }

        var margin = {top: 20, right: 50, bottom: 30, left: 50},
        width = this.width - margin.left - margin.right,
        height = this.height - margin.top - margin.bottom;

        var parseDate = d3.time.format("%d/%m/%Y").parse,
        bisectDate = d3.bisector(function(d) { return d.date; }).left,
        formatValue = d3.format(",.2f"),
        formatCurrency = function(d) { return d + " kejadian"; };

        var x = d3.time.scale()
          .range([0, width]);

        var y = d3.scale.linear()
          .range([height, 0]);

        var xAxis = d3.svg.axis()
          .scale(x)
          .orient("bottom");

        var yAxis = d3.svg.axis()
          .scale(y)
          .orient("left");

        var line = d3.svg.line()
          .x(function(d) { return x(d.date); })
          .y(function(d) { return y(d.occurence); });

        const gMain = d3.select(this.mainGraphic);
        const gXAxis = d3.select(this.axisxGraphic);
        const gYAxis = d3.select(this.axisyGraphic);
        const gHover = d3.select(this.hoverGraphic);
        const gPath = d3.select(this.pathGraphic);
        const focus = d3.select(this.focusline);

        gHover
          .on("mouseover", function() { focus.style("display", null); })
          .on("mouseout", function() { focus.style("display", "none"); });

        // Remove existing - supaya ga double
        // gMain.selectAll("*").remove();

        // Line kejadian
        d3.csv("/public/data/trend_gempa.csv", (error, data) => {
          if (error) throw error;

          // Filter Data
          data = data.filter((d) => {
            return d.date.split("/")[2] >= this.yearRange[0]
              && d.date.split("/")[2] <= this.yearRange[1]
          })

          // Data not exist
          if(data.length === 0) { return; }

          data.forEach(function(d) {
            d.date = parseDate(d.date);
            d.occurence = +d.occurence;
          });

          data.sort(function(a, b) {
            return a.date - b.date;
          });

          x.domain([data[0].date, data[data.length - 1].date]);
          y.domain(d3.extent(data, function(d) { return d.occurence; }));

          gXAxis.call(xAxis);
          gYAxis.call(yAxis);

          gPath
            .datum(data)
            .attr("d", line);

          gHover.on("mousemove", mousemove);

          function mousemove() {
            var x0 = x.invert(d3.mouse(this)[0]),
            i = bisectDate(data, x0, 1),
            d0 = data[i - 1],
            d1 = data[i],
            d = x0 - d0.date > d1.date - x0 ? d1 : d0;
            focus.attr("transform", "translate(" + x(d.date) + "," + y(d.occurence) + ")");
            focus.select("text").text(formatCurrency(d.occurence));
          }
        });
    },
    linechartDatavis( root, data ) {
      var margin = {top: 20, right: 50, bottom: 30, left: 50},
      width = 900 - margin.left - margin.right,
      height = 500 - margin.top - margin.bottom;

      var parseDate = d3.time.format("%d/%m/%Y").parse,
      bisectDate = d3.bisector(function(d) { return d.date; }).left,
      formatValue = d3.format(",.2f"),
      formatCurrency = function(d) { return "$" + formatValue(d); };

      var x = d3.time.scale()
      .range([0, width]);

      var y = d3.scale.linear()
      .range([height, 0]);

      var xAxis = d3.svg.axis()
      .scale(x)
      .orient("bottom");

      var yAxis = d3.svg.axis()
      .scale(y)
      .orient("left");

      var line = d3.svg.line()
      .x(function(d) { return x(d.date); })
      .y(function(d) { return y(d.occurence); });

      var svg = d3.select(root).append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      const gXAxis = svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")");

      const gYAxis = svg.append("g")
      .attr("class", "y axis");

      // Label Y Axis (not ticks)
      gYAxis.append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Occurence (times)");

      d3.csv("/public/data/dummyline.csv", function(error, data) {
        if (error) throw error;

        data.forEach(function(d) {
          d.date = parseDate(d.date);
          d.occurence = +d.occurence;
        });

        data.sort(function(a, b) {
          return a.date - b.date;
        });

        x.domain([data[0].date, data[data.length - 1].date]);
        y.domain(d3.extent(data, function(d) { return d.occurence; }));

        gXAxis.call(xAxis);
        gYAxis.call(yAxis);
        // svg.append("g")
        // .attr("class", "x axis")
        // .attr("transform", "translate(0," + height + ")")
        // .call(xAxis);
        //
        // svg.append("g")
        // .attr("class", "y axis")
        // .call(yAxis)
        // .append("text")
        // .attr("transform", "rotate(-90)")
        // .attr("y", 6)
        // .attr("dy", ".71em")
        // .style("text-anchor", "end")
        // .text("Occurence (times)");

        svg.append("path")
        .datum(data)
        .attr("class", "line")
        .attr("d", line);

        var focus = svg.append("g")
        .attr("class", "focus")
        .style("display", "none");

        focus.append("circle")
        .attr("r", 4.5);

        focus.append("text")
        .attr("x", 9)
        .attr("dy", ".35em");

        svg.append("rect")
        .attr("class", "overlay")
        .attr("width", width)
        .attr("height", height)
        .on("mouseover", function() { focus.style("display", null); })
        .on("mouseout", function() { focus.style("display", "none"); })
        .on("mousemove", mousemove);

        function mousemove() {
          var x0 = x.invert(d3.mouse(this)[0]),
          i = bisectDate(data, x0, 1),
          d0 = data[i - 1],
          d1 = data[i],
          d = x0 - d0.date > d1.date - x0 ? d1 : d0;
          focus.attr("transform", "translate(" + x(d.date) + "," + y(d.occurence) + ")");
          focus.select("text").text(formatCurrency(d.occurence));
        }
      });
    }
  },
  mounted() {
    // this.linechartDatavis( this.$refs[ 'lineContainer' ] );
    this.initLinechartDatavis( this.$refs[ 'lineContainer' ] );
    this.drawLine();
  },
  watch: {
    yearRange(val) {
      // console.log(val);
      this.drawLine();
    }
  },
}
</script>

<style>
.axis path,
.axis line {
  fill: none;
  stroke: #8e8e8e;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: rgba(217, 11, 11, 0.7);
  /* steelblue; */
  stroke-width: 3px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 55%;
    vertical-align: top;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
</style>
