<template>
<div>
  <v-layout mb-2>
    <v-flex xs3>
      <v-checkbox v-model="mls" label="Layer Magnitudo" color="red" hide-details style="margin-top: 0px;" />
    </v-flex>
    <v-flex xs3>
      <v-checkbox v-model="ecls" label="Layer Pusat Gempa" color="orange darken-3" hide-details style="margin-top: 0px;" />
    </v-flex>
    <v-flex xs3>
      <v-checkbox v-model="tls" label="Layer Tsunami" color="indigo darken-3" hide-details style="margin-top: 0px;" />
    </v-flex>
    <v-flex xs3 mb-1>
        <v-layout align-end justify-end column fill-height>
          <v-card class="orange lighten-1" >
            <v-card-text style="padding: 5px 15px 0px 15px;"
                        id="info-caption"
                        class="title white--text text-xs-right">

            </v-card-text>
            <v-card-text style="padding: 3px 15px 0px 15px;"
                        id="info-details"
                        class="subheading white--text text-xs-right">

            </v-card-text>
          </v-card>
        </v-layout>
    </v-flex>
  </v-layout>
  <v-layout row wrap>
    <div ref="mapContainer" class="svg-container"></div>
  </v-layout>
  <v-layout row wrap>
    <v-flex xs12 lg7>
      <h3>Keterangan Jarak dan Kedalaman:</h3>
      <table width="400" border="1">
        <tr>
          <th rowspan="2">Magnitude</th>
          <th colspan="3">Kedalaman</th>
          <th rowspan="2">Terjadi<br>Tsunami</th>
        </tr>
        <tr>
          <th><= 60</th>
          <th>60 - 300</th>
          <th>>= 300</th>
        </tr>
        <tr>
          <th><= 4.5</th>
          <th><div class="dot" style="height: 12px; width: 12px; 
            background-color: brown; border-radius: 50%; 
            border:1px solid black; display: inline-block;"></div></th>
          <th><div class="dot" style="height: 12px; width: 12px; 
            background-color: yellow; border-radius: 50%; 
            border:1px solid black; display: inline-block;"></div></th>
          <th><div class="dot" style="height: 12px; width: 12px; 
            background-color: green; border-radius: 50%; 
            border:1px solid black; display: inline-block;"></div></th>
          <th><div class="dot" style="height: 12px; width: 12px; 
            background-color: red; border-radius: 50%; 
            border:1px solid black; display: inline-block;"></div></th>
        </tr>
        <tr>
          <th>< 4.5 - 5.5</th>
          <th><div class="dot" style="height: 24px; width: 24px; 
            background-color: brown; border-radius: 50%; 
            border:1px solid black; display: inline-block;"></div></th>
          <th><div class="dot" style="height: 24px; width: 24px; 
            background-color: yellow; border-radius: 50%; 
            border:1px solid black; display: inline-block;"></div></th>
          <th><div class="dot" style="height: 24px; width: 24px; 
            background-color: green; border-radius: 50%; 
            border:1px solid black; display: inline-block;"></div></th>
          <th><div class="dot" style="height: 24px; width: 24px; 
            background-color: red; border-radius: 50%; 
            border:1px solid black; display: inline-block;"></div></th>
        </tr>
        <tr>
          <th>>= 5.5</th>
          <th><div class="dot" style="height: 42px; width: 42px; 
            background-color: brown; border-radius: 50%; 
            border:1px solid black; display: inline-block;"></div></th>
          <th><div class="dot" style="height: 42px; width: 42px; 
            background-color: yellow; border-radius: 50%; 
            border:1px solid black; display: inline-block;"></div></th>
          <th><div class="dot" style="height: 42px; width: 42px; 
            background-color: green; border-radius: 50%; 
            border:1px solid black; display: inline-block;"></div></th>
          <th><div class="dot" style="height: 42px; width: 42px; 
            background-color: red; border-radius: 50%; 
            border:1px solid black; display: inline-block;"></div></th>
        </tr>
      </table>
    </v-flex>
    <v-flex xs12 lg5>
      <h3>Keterangan Ikon :</h3>
      <table width="300" border="1">
        <tr height="50px">
          <th>Parameter</th>
          <th>Ikon</th>
        </tr>
        <tr>
          <td style="text-align:center">Pusat Gempa</td>
          <td style="text-align:center"><div style="height: 0; width: 0 
            background-color: black; border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 10px solid black;
            display: inline-block;"></div></td>
        </tr>
        <tr>
          <td style="text-align:center">Tsunami</td>
          <td style="text-align:center"><div class="dot" style="height: 12px; width: 12px; 
            background-color: blue; 
            border:1px solid black; display: inline-block;"></div></td>
        </tr>
      </table>
    </v-flex>
  </v-layout>
</div>
</template>

<script>
// import { bublemapDatavis } from './scripts/map';
import * as d3 from 'd3';
import * as d3q from 'd3-queue';
import * as d3sc from 'd3-scale-chromatic';
import * as topojson from 'topojson';
import * as dmsconv from './scripts/dmsconv';

export default {
  props: [ 'yearRange' ],
  data() {
    return {
      mls: true,
      ecls: true,
      tls: true,
      mainGraphic: null,
      circleGraphic: null, // magnitude
      triangleGraphic: null, // centroid
      squareGraphic: null, // tsunami
      heatGraphic: null, // tsunami
      tooltipPop: null,
      prj: null,
      width: 960,
      height: 500,
    }
  },
  methods: {
    initBublemapDatavis( root ) {
      //Width and height
      const width = 960;
      const height = 500;

      var projection = d3.geo.equirectangular()
        .translate( [ width / 2, height / 2 ] )
        .center( [ 117.21213010717173, -2.2836175855111187 ] )
        .scale( [ 1190 ] );
      this.prj = projection;

      var zoom = d3.behavior.zoom()
        .translate( [ 0, 0 ] )
        .scale( 1 )
        .scaleExtent( [ 1, 8 ] )
        .on( "zoom", zoomed );

      var path = d3.geo.path()
        .projection( projection );

      // Create SVG element
      // var svg = d3.select( root ).append( "svg" )
      // .attr( "width", width )
      // .attr( "height", height ).call( zoom );

      var svg = d3.select( root ).append( "svg" )
        .attr( "preserveAspectRatio", "xMinYMin meet" )
        .attr( "viewBox", "0 0 " + width + " " + height )
        .classed( "svg-content", true )
        .call( zoom );

      const g = svg.append( "g" ).attr( "id", "mainmap" );
      const gMap = g.append( "g" ).attr( "id", "map" );
      const gCircle = g.append( "g" ).attr( "id", "bubblemap" );
      const gSquare = g.append( "g" ).attr( "id", "sqrmap" );
      const gTriangle = g.append( "g" ).attr( "id", "trimap" );

      // Border
      svg.append( "rect" )
        .attr( "width", width )
        .attr( "height", height )
        .attr( "class", "background" );

      // Append Div for tooltip to SVG
      const div = d3.select( root )
        .append( "div" )
        .attr( "class", "tooltip" )
        .attr( "id", "tooltipmap" )
        .style( "opacity", 0 );

      // Set to global
      this.mainGraphic = "#mainmap";
      this.circleGraphic = "#bubblemap";
      this.triangleGraphic = "#trimap";
      this.squareGraphic = "#sqrmap";
      this.tooltipPop = "#tooltipmap";

      //Load in GeoJSON data
      d3.json( '/public/data/ind.json', function ( json ) {
        //Bind data and create one path per GeoJSON feature
        gMap.selectAll( "path" )
          .data( json.features )
          .enter()
          .append( "path" )
          .attr( "d", path )
          .attr( "class", "feature" );
      } );

      function zoomed() {
        g.attr( "transform",
          "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")" );
      }

      d3.select( self.frameElement ).style( "height", height + "px" );
    },
    drawMagnitude() {
      if ( this.circleGraphic == null || this.prj == null ) {
        return;
      }

      const gCircle = d3.select( this.circleGraphic );
      const div = d3.select( this.tooltipPop )
      const projection = this.prj;

      // Remove existing - supaya ga double
      gCircle.selectAll( "*" ).remove();

      // Bubble gempa
      d3.csv( '/public/data/gempa_map_v2.csv', ( data ) => {

        // Filter Data
        data = data.filter( ( d ) => {
          return d.date.split( "/" )[ 2 ] >= this.yearRange[ 0 ] &&
            d.date.split( "/" )[ 2 ] <= this.yearRange[ 1 ]
        } )

        // Draw Bubble
        var tsunami = [];
        var earthquake = [];
        earthquake = data.sort( function ( a, b ) {
            if (a.tsunami == "TRUE") {
              tsunami.push(a);
            } else {
              return b.magnitude - a.magnitude
            }
        } )

        console.log(earthquake);

        for (var i = 0; i < tsunami.length; i++) {
          earthquake.push(tsunami[i]);
        }

        console.log(earthquake);

        gCircle.selectAll( "circle" )
          .data( earthquake )
          .enter()
          .append( "circle" )
          .attr( "cx", function ( d ) {
            return projection( [ d.longitude, d.latitude ] )[ 0 ];
          } )
          .attr( "cy", function ( d ) {
            return projection( [ d.longitude, d.latitude ] )[ 1 ];
          } )
          .attr( "r", function ( d ) {
            if (d.magnitude <= 4.5) {
              return 8;
            } else if (d.magnitude > 4.5 && d.magnitude <= 5.5) {
              return 16;
            } else {
              return 24;
            }
          } )
          .attr( "class", "bubble" )
          .style("stroke", "black")
          .style( "fill", function (d) {
            if (d.tsunami == "TRUE") {
              return "red";
            } else if (d.kedalaman <= 60) {
              return "brown";
            } else if (d.kedalaman > 60 && d.kedalaman <= 300) {
              return "yellow";
            } else {
              return "green";
            }
          } )

          // Tooltip
          // http://www.d3noob.org/2013/01/adding-tooltips-to-d3js-graph.html
          .on( "mouseover", function ( d ) {
            div.transition()
              .duration( 200 )
              .style( "opacity", .9 );
            div.html( dmsconv.ddToDms( d.latitude, d.longitude ) + "<br/>" +
                "Mag : " + ( Math.round( d.magnitude * 10 ) / 10 ) )
              .style( "left", ( d3.event.pageX ) + "px" )
              .style( "top", ( d3.event.pageY - 28 ) + "px" )
              .style( "pointer-events", "none" );
          } )

          // fade out tooltip on mouse out
          .on( "mouseout", function ( d ) {
            div.transition()
              .duration( 500 )
              .style( "opacity", 0 )
              .style( "pointer-events", "all" );
          } );
      } );
    },
    removeMagnitude() {
      if ( this.circleGraphic == null ) {
        return;
      }

      const gCircle = d3.select( this.circleGraphic );
      gCircle.selectAll( "*" ).remove();
    },
    drawCentroid() {
      if ( this.triangleGraphic == null || this.prj == null ) {
        return;
      }

      const gTriangle = d3.select( this.triangleGraphic );
      const div = d3.select( this.tooltipPop )
      const projection = this.prj;

      // Remove existing - supaya ga double
      gTriangle.selectAll( "*" ).remove();

      // Bubble gempa
      d3.csv( '/public/data/gempa_map_v2.csv', ( data ) => {

        // Filter Data
        data = data.filter( ( d ) => {
          return d.date.split( "/" )[ 2 ] >= this.yearRange[ 0 ] &&
            d.date.split( "/" )[ 2 ] <= this.yearRange[ 1 ]
        } )

        gTriangle.selectAll( "polygon" )
          .data( data.sort( function ( a, b ) {
            return b.magnitude - a.magnitude
          } ) )
          .enter()
          .append( "polygon" )
          .attr( "points", function ( d ) {
            const titik = ( projection( [ d.longitude, d.latitude ] )[ 0 ] - 3 ) + "," +
              ( projection( [ d.longitude, d.latitude ] )[ 1 ] + 3 ) + " " +
              ( projection( [ d.longitude, d.latitude ] )[ 0 ] + 3 ) + "," +
              ( projection( [ d.longitude, d.latitude ] )[ 1 ] + 3 ) + " " +
              projection( [ d.longitude, d.latitude ] )[ 0 ] + "," +
              ( projection( [ d.longitude, d.latitude ] )[ 1 ] - 3 );
            return titik;
          } )
          .attr( "class", "tri" )
          .style( "fill", "black" )

          // Tooltip
          // http://www.d3noob.org/2013/01/adding-tooltips-to-d3js-graph.html
          .on( "mouseover", function ( d ) {
            div.transition()
              .duration( 200 )
              .style( "opacity", .9 );
            div.html( dmsconv.ddToDms( d.latitude, d.longitude ) + "<br/>" +
                "Mag : " + ( Math.round( d.magnitude * 10 ) / 10 ) )
              .style( "left", ( d3.event.pageX ) + "px" )
              .style( "top", ( d3.event.pageY - 28 ) + "px" )
              .style( "pointer-events", "none" );
          } )

          // fade out tooltip on mouse out
          .on( "mouseout", function ( d ) {
            div.transition()
              .duration( 500 )
              .style( "opacity", 0 )
              .style( "pointer-events", "all" );
          } );
      } );
    },
    removeCentroid() {
      if ( this.triangleGraphic == null ) {
        return;
      }

      const gTriangle = d3.select( this.triangleGraphic );
      gTriangle.selectAll( "*" ).remove();
    },
    drawTsunami() {
      if ( this.squareGraphic == null || this.prj == null ) {
        return;
      }

      const gSquare = d3.select( this.squareGraphic );
      const div = d3.select( this.tooltipPop )
      const projection = this.prj;

      // Remove existing - supaya ga double
      gSquare.selectAll( "*" ).remove();

      // Bubble gempa
      d3.csv( '/public/data/tsunami.csv', ( data ) => {

        // Filter Data
        data = data.filter( ( d ) => {
          return d.date.split( "/" )[ 2 ] >= this.yearRange[ 0 ] &&
            d.date.split( "/" )[ 2 ] <= this.yearRange[ 1 ]
        } )

        gSquare.selectAll( "rect" )
          .data( data.sort( function ( a, b ) {
            return b.magnitude - a.magnitude
          } ) )
          .enter()
          .append( "rect" )
          .attr( "x", function ( d ) {
            return projection( [ d.longitude, d.latitude ] )[ 0 ] - 3;
          } )
          .attr( "y", function ( d ) {
            return projection( [ d.longitude, d.latitude ] )[ 1 ] - 3;
          } )
          .attr( "width", 10 )
          .attr( "height", 10 )
          .attr( "class", "sqr" )
          .style( "fill", "blue" )

          // Tooltip
          // http://www.d3noob.org/2013/01/adding-tooltips-to-d3js-graph.html
          .on( "mouseover", function ( d ) {
            div.transition()
              .duration( 200 )
              .style( "opacity", .9 );
            div.html( dmsconv.ddToDms( d.latitude, d.longitude ) + "<br/>" +
                "Mag : " + ( Math.round( d.magnitude * 10 ) / 10 ) )
              .style( "left", ( d3.event.pageX ) + "px" )
              .style( "top", ( d3.event.pageY - 28 ) + "px" )
              .style( "pointer-events", "none" );
          } )

          // fade out tooltip on mouse out
          .on( "mouseout", function ( d ) {
            div.transition()
              .duration( 500 )
              .style( "opacity", 0 )
              .style( "pointer-events", "all" );
          } );
      } );
    },
    removeTsunami() {
      if ( this.squareGraphic == null ) {
        return;
      }

      const gSquare = d3.select( this.squareGraphic );
      gSquare.selectAll( "*" ).remove();
    },
    initMap( root ) {
      const width = this.width,
        height = this.height;

      const projection = d3.geo.equirectangular()
        .scale( 1190 )
        .rotate( [ -120, 0 ] )
        .translate( [ width / 2, height / 2 ] );
      this.prj = projection;

      const zoom = d3.behavior.zoom()
        .translate( [ 0, 0 ] )
        .scale( 1 )
        .scaleExtent( [ 1, 8 ] )
        .on( "zoom", zoomed );

      const path = d3.geo.path()
        .projection( projection );

      const svg = d3.select( root ).append( "svg" )
        .attr( "preserveAspectRatio", "xMinYMin meet" )
        .attr( "viewBox", "0 0 " + width + " " + height )
        .classed( "svg-content", true )
        .call( zoom );

      const g = svg.append( "g" ).attr( "id", "mainmap" );
      const gHeat = g.append( "g" ).attr("id", "subunits");
      const gCircle = g.append( "g" ).attr( "id", "bubblemap" );
      const gSquare = g.append( "g" ).attr( "id", "sqrmap" );
      const gTriangle = g.append( "g" ).attr( "id", "trimap" );

      svg.append( "rect" )
        .attr( "class", "background" )
        .attr( "width", width )
        .attr( "height", height );

      // Append Div for tooltip to SVG
      const div = d3.select( root )
        .append( "div" )
        .attr( "class", "tooltip" )
        .attr( "id", "tooltipmap" )
        .style( "opacity", 0 );

      // Set to global
      this.mainGraphic = "#mainmap";
      this.circleGraphic = "#bubblemap";
      this.triangleGraphic = "#trimap";
      this.squareGraphic = "#sqrmap";
      this.tooltipPop = "#tooltipmap";
      this.heatGraphic = "#subunits";

      function zoomed() {
        g.attr( "transform",
          "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")" );
      }

      d3.select( self.frameElement ).style( "height", height + "px" );
    },
    drawHeat() {

      var color = d3.scale.threshold()
        .domain(d3.range(2,10))
        .range(d3sc.schemeOrRd[9]);

      var ipm = d3.map();
      const g = d3.select( this.mainGraphic );
      const gHeat = d3.select( this.heatGraphic );
      const projection = this.prj;
      var path = d3.geo.path()
        .projection( projection );

      // Remove existing - supaya ga double
      gHeat.selectAll( "*" ).remove();

      d3q.queue()
        .defer( d3.json, "/public/data/indonesia-topojson-city-regency.json" )
        .defer( d3.csv, "/public/data/Transform.csv", d => {
          if(d.tahun <= this.yearRange[1] && d.tahun >= this.yearRange[0]) {

            // Check if already exist, then assign the larger val
            let mag = Number( d.ipm );
            if(ipm.get( d.nama_kabkota )) {
              mag = ipm.get( d.nama_kabkota ) > mag ?
                ipm.get( d.nama_kabkota ) : mag;
            }

            ipm.set( d.nama_kabkota, mag );
          }
        } )
        .await( ready );

      function ready( error, data ) {
        if ( error ) throw error;

        gHeat
          .selectAll( "path" )
          .data( topojson.feature( data, data.objects.IDN_adm_2_kabkota ).features )
          .enter().append( "path" )
          .attr( "fill", function ( d ) {
            var key = d.properties.NAME_2;
            key = ( d.properties.VARNAME_2 ) ? d.properties.VARNAME_2 : key;

            if ( ipm.get( key ) && ipm.get( key ) != 0) {
              return color( d.ipm = ipm.get( key ) )
            }
            else {
              return '#ccc';
            }
          } )
          .attr( "d", path )
          .style( "stroke-width", "1" )
          .style( "stroke", "#8e8e8e" )
          .on( "click", clicked );
      };

      function regionName( region ) {
        return region.properties.NAME_2;
      }

      function getHDI( region ) {
        var key = region.properties.NAME_2;
        if ( ipm.get( key ) ) return ( ipm.get( key ) ).toPrecision( 2 )  + ' Sr';
        key = region.properties.VARNAME_2;
        if ( ipm.get( key ) ) return ( ipm.get( key ) ).toPrecision( 2 )  + ' Sr';

        return "no data";
      }

      let centered;
      const width = this.width, height= this.height;
      function clicked(d) {
        var x, y, k;

        if ( d && centered !== d ) {
          var centroid = path.centroid( d );
          x = centroid[ 0 ];
          y = centroid[ 1 ];
          k = 4;
          centered = d;
        } else {
          x = width / 2;
          y = height / 2;
          k = 1;
          centered = null;
        }

        if(d && centered) {
          d3.select("#info-caption").text('Dampak Gempa Bumi');
          d3.select("#info-details").text(regionName(d) + ' : ' + getHDI(d));
        }
        else {
          d3.select("#info-caption").text('');
          d3.select("#info-details").text('');
        }

        g.selectAll( "path" )
          .classed( "active", centered && function ( d ) {
            return d === centered;
          } );

        g.transition()
          .duration( 750 )
          .attr( "transform",
              "translate(" + width / 2 + "," + height / 2 + ")scale(" + k + ")translate(" + -x + "," + -y + ")" )
          .style( "stroke-width", 1.5 / k + "px" );
      }
    },
    // Not used
    bublemapDatavis( root, data ) {
      //Width and height
      const width = 960;
      const height = 500;

      var projection = d3.geo.equirectangular()
        .translate( [ width / 2, height / 2 ] )
        .center( [ 117.21213010717173, -2.2836175855111187 ] )
        .scale( [ 1190 ] );

      var zoom = d3.behavior.zoom()
        .translate( [ 0, 0 ] )
        .scale( 1 )
        .scaleExtent( [ 1, 8 ] )
        .on( "zoom", zoomed );

      var path = d3.geo.path()
        .projection( projection );

      // Create SVG element
      var svg = d3.select( root ).append( "svg" )
        .attr( "width", width )
        .attr( "height", height ).call( zoom );

      const g = svg.append( "g" );
      const gMap = g.append( "g" ).attr( "id", "map" );
      const gCircle = g.append( "g" ).attr( "id", "bubble" );

      svg.append( "rect" )
        .attr( "width", width )
        .attr( "height", height )
        .attr( "class", "background" );

      // Append Div for tooltip to SVG
      const div = d3.select( root )
        .append( "div" )
        .attr( "class", "tooltip" )
        .style( "opacity", 0 );

      //Load in GeoJSON data
      d3.json( '/public/data/ind.json', function ( json ) {
        //Bind data and create one path per GeoJSON feature
        gMap.selectAll( "path" )
          .data( json.features )
          .enter()
          .append( "path" )
          .attr( "d", path )
          .attr( "class", "feature" );
      } );

      // Bubble gempa
      d3.csv( '/public/data/random_gempa.csv', function ( data ) {

        gCircle.selectAll( "circle" )
          .data( data.sort( function ( a, b ) {
            return b.magnitude - a.magnitude
          } ) )
          .enter()
          .append( "circle" )
          .attr( "cx", function ( d ) {
            return projection( [ d.longitude, d.latitude ] )[ 0 ];
          } )
          .attr( "cy", function ( d ) {
            return projection( [ d.longitude, d.latitude ] )[ 1 ];
          } )
          .attr( "r", function ( d ) {
            return Math.sqrt( d.magnitude ) * 5;
          } )
          .attr( "class", "bubble" )

          // Tooltip
          // http://www.d3noob.org/2013/01/adding-tooltips-to-d3js-graph.html
          .on( "mouseover", function ( d ) {
            div.transition()
              .duration( 200 )
              .style( "opacity", .9 );
            div.html( dmsconv.ddToDms( d.latitude, d.longitude ) + "<br/>" +
                "Mag : " + ( Math.round( d.magnitude * 10 ) / 10 ) )
              .style( "left", ( d3.event.pageX ) + "px" )
              .style( "top", ( d3.event.pageY - 28 ) + "px" )
              .style( "pointer-events", "none" );
          } )

          // fade out tooltip on mouse out
          .on( "mouseout", function ( d ) {
            div.transition()
              .duration( 500 )
              .style( "opacity", 0 )
              .style( "pointer-events", "all" );
          } );
      } );

      function zoomed() {
        g.attr( "transform",
          "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")" );
      }

      d3.select( self.frameElement ).style( "height", height + "px" );
    },
    heat( root ) {
      var width = 960,
        height = 500,
        centered;

      var ipm = d3.map();

      var color = d3.scale.threshold()
          .domain(d3.range(2,10))
          .range(d3sc.schemeOrRd[9]);

      var projection = d3.geo.equirectangular()
        .scale( 1050 )
        .rotate( [ -120, 0 ] )
        .translate( [ width / 2, height / 2 ] );

      var path = d3.geo.path()
        .projection( projection );

      var svg = d3.select( root ).append( "svg" )
        .attr( "width", width )
        .attr( "height", height );

      svg.append( "rect" )
        .attr( "class", "background" )
        .attr( "width", width )
        .attr( "height", height )
        .on( "click", clicked );

      var g = svg.append( "g" );

      var x = d3.scale.linear()
        .domain( [ 1, 10 ] )
        .rangeRound( [ 600, 860 ] );

      g.selectAll( "rect" )
        .data( color.range().map( function ( d ) {
          d = color.invertExtent( d );
          if ( d[ 0 ] == null ) d[ 0 ] = x.domain()[ 0 ];
          if ( d[ 1 ] == null ) d[ 1 ] = x.domain()[ 1 ];
          return d;
        } ) )
        .enter().append( "rect" )
        .attr( "height", 8 )
        .attr( "x", function ( d ) {
          return x( d[ 0 ] );
        } )
        .attr( "width", function ( d ) {
          return x( d[ 1 ] ) - x( d[ 0 ] );
        } )
        .attr( "fill", function ( d ) {
          return color( d[ 0 ] );
        } );

      g.append( "text" )
        .attr( "class", "caption" )
        .attr( "x", x.range()[ 0 ] )
        .attr( "y", 60 )
        .attr( "fill", "#000" )
        .attr( "text-anchor", "start" )
        .attr( "font-weight", "bold" )
        .text( "Magnitude Gempa Bumi" );

      g.call( d3.svg.axis( x )
          .tickSize( 13 )
          .tickFormat( function ( x, i ) {
            return x + "0";
          } )
          .tickValues( color.domain() ) )
        .select( ".domain" )
        .remove();
      //*

      d3q.queue()
        .defer( d3.json, "/public/data/indonesia-topojson-city-regency.json" )
        .defer( d3.csv, "/public/data/Transfrom2018.csv", function ( d ) {
          ipm.set( d.nama_kabkota, Number( d.ipm ) );
        } )
        .await( ready );

      function ready( error, data ) {
        if ( error ) throw error;
        console.log("READY");
        g.append( "g" )
          .attr( "id", "subunits" )
          .selectAll( "path" )
          .data( topojson.feature( data, data.objects.IDN_adm_2_kabkota ).features )
          .enter().append( "path" )
          .attr( "fill", function ( d ) {
            var key = d.properties.NAME_2;
            key = ( d.properties.VARNAME_2 ) ? d.properties.VARNAME_2 : key;
            if ( !ipm.get( key ) ) key = d.properties.NAME_2;
            if ( !ipm.get( key ) ) console.log( d.properties.VARNAME_2, key );

            return color( d.ipm = ipm.get( key ) )
          } )
          .attr( "d", path )
          .text( function ( d ) {
            return d.ipm + "%";
          } )
          .on( "click", clicked );

        g.append( "path" )
          .datum( topojson.mesh( data, data.objects.IDN_adm_2_kabkota, function ( a, b ) {
            return a !== b;
          } ) )
          .attr( "id", "state-borders" )
          .attr( "d", path );
      };

      function regionName( region ) {
        return region.properties.NAME_1.toUpperCase() + " : " + region.properties.NAME_2.toUpperCase();
      }

      function getHDI( region ) {
        var key = region.properties.NAME_2;
        if ( ipm.get( key ) ) return ( ipm.get( key ) ).toPrecision( 2 );
        key = region.properties.VARNAME_2;
        if ( ipm.get( key ) ) return ( ipm.get( key ) ).toPrecision( 2 );

        return "no data";
      }

      function clicked( d ) {
        var x, y, k;

        if ( d ) {
          document.getElementById( 'info-location' ).innerHTML = regionName( d );
          document.getElementById( 'info-details' ).innerHTML = "Kekuatan Gempa Bumi : " + getHDI( d );
        } else {
          document.getElementById( 'info-location' ).innerHTML = "INDONESIA";
        }

        if ( d && centered !== d ) {
          var centroid = path.centroid( d );
          x = centroid[ 0 ];
          y = centroid[ 1 ];
          k = 4;
          centered = d;
        } else {
          x = width / 2;
          y = height / 2;
          k = 1;
          centered = null;
        }

        g.selectAll( "path" )
          .classed( "active", centered && function ( d ) {
            return d === centered;
          } );

        g.transition()
          .duration( 750 )
          .attr( "transform", "translate(" + width / 2 + "," + height / 2 + ")scale(" + k + ")translate(" + -x + "," + -y + ")" )
          .style( "stroke-width", 1.5 / k + "px" );
      }
    },
  },
  watch: {
    mls( val ) {
      if ( !val ) {
        this.removeMagnitude();
      } else {
        this.drawMagnitude();
      }
    },
    ecls( val ) {
      if ( !val ) {
        this.removeCentroid();
      } else {
        this.drawCentroid();
      }
    },
    tls( val ) {
      if ( !val ) {
        this.removeTsunami();
      } else {
        this.drawTsunami();
      }
    },
    yearRange( val ) {
      console.log( val );
      if ( this.mls ) {
        this.drawMagnitude();
      }
      if ( this.ecls ) {
        this.drawCentroid();
      }
      if ( this.tls ) {
        this.drawTsunami();
      }
      this.drawHeat();
    }
  },
  mounted() {
    // this.initBublemapDatavis( this.$refs[ 'mapContainer' ] );
    // this.drawMagnitude();
    // this.drawCentroid();
    // this.drawTsunami();
    this.initMap( this.$refs[ 'mapContainer' ] );
    this.drawHeat();
    this.drawMagnitude();
    this.drawCentroid();
    this.drawTsunami();
  },
}
</script>

<style>
.background {
  fill: none;
  stroke: #8e8e8e;
  stroke-width: 2;
}

.feature {
  fill: #ccc;
  stroke: #8e8e8e;
  cursor: pointer;
}

.feature.active {
  fill: orange;
}

.bubble {
  stroke-width: .1px;
  stroke: rgba(250, 250, 250, 0.8);
  fill: rgba(217, 11, 11, 0.7);
  /* rgba(217, 91, 67, 0.5); */
}

.bubble:hover {
  fill: rgba(217, 91, 67, 0.8);
}

.tri {
  stroke-width: .1px;
  stroke: rgba(239, 198, 0, 0.9);
  fill: rgba(239, 198, 0, 0.7);
  /* rgba(217, 91, 67, 0.5); */
}

.tri:hover {
  fill: rgba(239, 198, 0, 0.8);
}

.sqr {
  stroke-width: .1px;
  stroke: rgba(40, 53, 147, 0.9);
  fill: rgba(40, 53, 147, 0.7);
  /* rgba(217, 91, 67, 0.5); */
}

.sqr:hover {
  fill: rgba(40, 53, 147, 0.8);
}

/* Style for Custom Tooltip */

div.tooltip {
  position: absolute;
  text-align: center;
  width: 180px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: white;
  border: 0px;
  border-radius: 8px;
}

/* .svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
} */

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 55%;
  vertical-align: top;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

#subunits {}

#subunits .active {
  fill: cyan;
}

#state-borders {
  fill: none;
  stroke: #000;
  stroke-width: 0.1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

#info-location {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  font-family: monospace;
}

/* #info-details {
  text-align: center;
  font-size: 18px;
  font-family: monospace;
} */
</style>
