<template>
<div>
  <v-layout>
    <v-flex xs2>
      <v-checkbox v-model="mls"
                  label="Magnitude Layer"
                  color="red"
                  hide-details
                  style="margin-top: 0px;"/>
    </v-flex>
    <v-flex xs2>
      <v-checkbox v-model="ecls"
                  label="Centroid Layer"
                  color="orange darken-3"
                  hide-details
                  style="margin-top: 0px;"/>
    </v-flex>
    <v-flex xs2>
      <v-checkbox v-model="tls"
                  label="Tsunami Layer"
                  color="indigo darken-3"
                  hide-details
                  style="margin-top: 0px;"/>
    </v-flex>
  </v-layout>
  <v-layout row wrap>
    <div ref="mapContainer" class="svg-container"></div>
  </v-layout>
</div>
</template>

<script>
// import { bublemapDatavis } from './scripts/map';
import * as d3 from 'd3';
import * as dmsconv from './scripts/dmsconv';

export default {
  props: ['yearRange'],
  data() {
    return {
      mls: true,
      ecls: true,
      tls: true,
      mainGraphic: null,
      circleGraphic: null, // magnitude
      triangleGraphic: null, // centroid
      squareGraphic: null, // tsunami
      tooltipPop: null,
      prj: null,
    }
  },
  methods: {
    initBublemapDatavis( root ) {
        //Width and height
        const width = 960;
        const height = 500;

        var projection = d3.geo.equirectangular()
          .translate( [ width / 2, height / 2 ] )
          .center( [ 117.21213010717173, -2.2836175855111187 ] )
          .scale( [ 1190 ] );
          this.prj = projection;

        var zoom = d3.behavior.zoom()
          .translate( [ 0, 0 ] )
          .scale( 1 )
          .scaleExtent( [ 1, 8 ] )
          .on( "zoom", zoomed );

        var path = d3.geo.path()
          .projection( projection );

          // Create SVG element
          // var svg = d3.select( root ).append( "svg" )
          // .attr( "width", width )
          // .attr( "height", height ).call( zoom );

        var svg = d3.select( root ).append( "svg" )
          .attr("preserveAspectRatio", "xMinYMin meet")
          .attr("viewBox", "0 0 "+ width + " " + height)
          .classed("svg-content", true)
          .call( zoom );

        const g = svg.append( "g" ).attr( "id", "mainmap" );
        const gMap = g.append( "g" ).attr( "id", "map" );
        const gCircle = g.append( "g" ).attr( "id", "bubblemap" );
        const gSquare = g.append( "g" ).attr( "id", "sqrmap" );
        const gTriangle = g.append( "g" ).attr( "id", "trimap" );

          // Border
        svg.append( "rect" )
          .attr( "width", width )
          .attr( "height", height )
          .attr( "class", "background" );

          // Append Div for tooltip to SVG
        const div = d3.select( root )
          .append( "div" )
          .attr( "class", "tooltip" )
          .attr( "id", "tooltipmap" )
          .style( "opacity", 0 );

          // Set to global
          this.mainGraphic = "#mainmap";
          this.circleGraphic = "#bubblemap";
          this.triangleGraphic = "#trimap";
          this.squareGraphic = "#sqrmap";
          this.tooltipPop = "#tooltipmap";

          //Load in GeoJSON data
          d3.json( '/public/data/ind.json', function ( json ) {
            //Bind data and create one path per GeoJSON feature
            gMap.selectAll( "path" )
            .data( json.features )
            .enter()
            .append( "path" )
            .attr( "d", path )
            .attr( "class", "feature" );
          } );

          function zoomed() {
            g.attr( "transform",
            "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")" );
          }

          d3.select( self.frameElement ).style( "height", height + "px" );
    },
    drawMagnitude() {
        if(this.circleGraphic == null || this.prj == null) {
          return;
        }

        const gCircle = d3.select(this.circleGraphic);
        const div = d3.select( this.tooltipPop )
        const projection = this.prj;

        // Remove existing - supaya ga double
        gCircle.selectAll("*").remove();

        // Bubble gempa
        d3.csv( '/public/data/gempa_map.csv', ( data ) => {

          // Filter Data
          data = data.filter((d) => {
            return d.date.split("/")[2] >= this.yearRange[0]
              && d.date.split("/")[2] <= this.yearRange[1]
          })

          // Draw Bubble
          gCircle.selectAll( "circle" )
            .data( data.sort( function ( a, b ) {
              return b.magnitude - a.magnitude
            } ) )
            .enter()
            .append( "circle" )
            .attr( "cx", function ( d ) {
              return projection( [ d.longitude, d.latitude ] )[ 0 ];
            } )
            .attr( "cy", function ( d ) {
              return projection( [ d.longitude, d.latitude ] )[ 1 ];
            } )
            .attr( "r", function ( d ) {
              return Math.sqrt( d.magnitude ) * 10;
            } )
            .attr( "class", "bubble" )

            // Tooltip
            // http://www.d3noob.org/2013/01/adding-tooltips-to-d3js-graph.html
            .on( "mouseover", function ( d ) {
              div.transition()
                .duration( 200 )
                .style( "opacity", .9 );
                div.html( dmsconv.ddToDms( d.latitude, d.longitude ) + "<br/>" +
                  "Mag : " + ( Math.round( d.magnitude * 10 ) / 10 ) )
                  .style( "left", ( d3.event.pageX ) + "px" )
                  .style( "top", ( d3.event.pageY - 28 ) + "px" )
                  .style( "pointer-events", "none" );
                } )

                // fade out tooltip on mouse out
                .on( "mouseout", function ( d ) {
                  div.transition()
                  .duration( 500 )
                  .style( "opacity", 0 )
                  .style( "pointer-events", "all" );
                } );
          } );
    },
    removeMagnitude() {
        if(this.circleGraphic == null) {
          return;
        }

        const gCircle = d3.select(this.circleGraphic);
        gCircle.selectAll("*").remove();
    },
    drawCentroid() {
        if(this.triangleGraphic == null || this.prj == null) {
          return;
        }

        const gTriangle = d3.select(this.triangleGraphic);
        const div = d3.select( this.tooltipPop )
        const projection = this.prj;

        // Remove existing - supaya ga double
        gTriangle.selectAll("*").remove();

        // Bubble gempa
        d3.csv( '/public/data/gempa_map.csv', ( data ) => {

          // Filter Data
          data = data.filter((d) => {
            return d.date.split("/")[2] >= this.yearRange[0]
              && d.date.split("/")[2] <= this.yearRange[1]
          })

          gTriangle.selectAll( "polygon" )
            .data( data.sort( function ( a, b ) {
              return b.magnitude - a.magnitude
            } ) )
            .enter()
            .append( "polygon" )
            .attr("points", function ( d ) {
              const titik = (projection( [ d.longitude, d.latitude ] )[ 0 ] - 3) + "," +
                            (projection( [ d.longitude, d.latitude ] )[ 1 ] + 3) + " " +
                            (projection( [ d.longitude, d.latitude ] )[ 0 ] + 3) + "," +
                            (projection( [ d.longitude, d.latitude ] )[ 1 ] + 3) + " " +
                            projection( [ d.longitude, d.latitude ] )[ 0 ]  + "," +
                            (projection( [ d.longitude, d.latitude ] )[ 1 ] - 3);
              return titik;
            } )
            .attr( "class", "tri" )

            // Tooltip
            // http://www.d3noob.org/2013/01/adding-tooltips-to-d3js-graph.html
            .on( "mouseover", function ( d ) {
              div.transition()
                .duration( 200 )
                .style( "opacity", .9 );
                div.html( dmsconv.ddToDms( d.latitude, d.longitude ) + "<br/>" +
                  "Mag : " + ( Math.round( d.magnitude * 10 ) / 10 ) )
                  .style( "left", ( d3.event.pageX ) + "px" )
                  .style( "top", ( d3.event.pageY - 28 ) + "px" )
                  .style( "pointer-events", "none" );
                } )

                // fade out tooltip on mouse out
                .on( "mouseout", function ( d ) {
                  div.transition()
                  .duration( 500 )
                  .style( "opacity", 0 )
                  .style( "pointer-events", "all" );
                } );
          } );
    },
    removeCentroid() {
        if(this.triangleGraphic == null) {
          return;
        }

        const gTriangle = d3.select(this.triangleGraphic);
        gTriangle.selectAll("*").remove();
    },
    drawTsunami() {
        if(this.squareGraphic == null || this.prj == null) {
          return;
        }

        const gSquare = d3.select(this.squareGraphic);
        const div = d3.select( this.tooltipPop )
        const projection = this.prj;

        // Remove existing - supaya ga double
        gSquare.selectAll("*").remove();

        // Bubble gempa
        d3.csv( '/public/data/random_gempa.csv', ( data ) => {

          // Filter Data
          data = data.filter((d) => {
            return d.date.split("/")[2] >= this.yearRange[0]
              && d.date.split("/")[2] <= this.yearRange[1]
          })

          gSquare.selectAll( "rect" )
            .data( data.sort( function ( a, b ) {
              return b.magnitude - a.magnitude
            } ) )
            .enter()
            .append( "rect" )
            .attr("x", function ( d ) {
              return projection( [ d.longitude, d.latitude ] )[ 0 ] - 3;
            } )
            .attr("y", function ( d ) {
              return projection( [ d.longitude, d.latitude ] )[ 1 ] - 3;
            } )
            .attr("width", 6)
            .attr("height", 6)
            .attr( "class", "sqr" )

            // Tooltip
            // http://www.d3noob.org/2013/01/adding-tooltips-to-d3js-graph.html
            .on( "mouseover", function ( d ) {
              div.transition()
                .duration( 200 )
                .style( "opacity", .9 );
                div.html( dmsconv.ddToDms( d.latitude, d.longitude ) + "<br/>" +
                  "Mag : " + ( Math.round( d.magnitude * 10 ) / 10 ) )
                  .style( "left", ( d3.event.pageX ) + "px" )
                  .style( "top", ( d3.event.pageY - 28 ) + "px" )
                  .style( "pointer-events", "none" );
                } )

                // fade out tooltip on mouse out
                .on( "mouseout", function ( d ) {
                  div.transition()
                  .duration( 500 )
                  .style( "opacity", 0 )
                  .style( "pointer-events", "all" );
                } );
          } );
    },
    removeTsunami() {
        if(this.squareGraphic == null) {
          return;
        }

        const gSquare = d3.select(this.squareGraphic);
        gSquare.selectAll("*").remove();
    },
    // Not used
    bublemapDatavis( root, data ) {
      //Width and height
      const width = 960;
      const height = 500;

      var projection = d3.geo.equirectangular()
        .translate( [ width / 2, height / 2 ] )
        .center( [ 117.21213010717173, -2.2836175855111187 ] )
        .scale( [ 1190 ] );

      var zoom = d3.behavior.zoom()
        .translate( [ 0, 0 ] )
        .scale( 1 )
        .scaleExtent( [ 1, 8 ] )
        .on( "zoom", zoomed );

      var path = d3.geo.path()
        .projection( projection );

      // Create SVG element
      var svg = d3.select( root ).append( "svg" )
        .attr( "width", width )
        .attr( "height", height ).call( zoom );

      const g = svg.append( "g" );
      const gMap = g.append( "g" ).attr( "id", "map" );
      const gCircle = g.append( "g" ).attr( "id", "bubble" );

      svg.append( "rect" )
        .attr( "width", width )
        .attr( "height", height )
        .attr( "class", "background" );

      // Append Div for tooltip to SVG
      const div = d3.select( root )
        .append( "div" )
        .attr( "class", "tooltip" )
        .style( "opacity", 0 );

      //Load in GeoJSON data
      d3.json( '/public/data/ind.json', function ( json ) {
        //Bind data and create one path per GeoJSON feature
        gMap.selectAll( "path" )
          .data( json.features )
          .enter()
          .append( "path" )
          .attr( "d", path )
          .attr( "class", "feature" );
      } );

      // Bubble gempa
      d3.csv( '/public/data/random_gempa.csv', function ( data ) {

        gCircle.selectAll( "circle" )
          .data( data.sort( function ( a, b ) {
            return b.magnitude - a.magnitude
          } ) )
          .enter()
          .append( "circle" )
          .attr( "cx", function ( d ) {
            return projection( [ d.longitude, d.latitude ] )[ 0 ];
          } )
          .attr( "cy", function ( d ) {
            return projection( [ d.longitude, d.latitude ] )[ 1 ];
          } )
          .attr( "r", function ( d ) {
            return Math.sqrt( d.magnitude ) * 5;
          } )
          .attr( "class", "bubble" )

          // Tooltip
          // http://www.d3noob.org/2013/01/adding-tooltips-to-d3js-graph.html
          .on( "mouseover", function ( d ) {
            div.transition()
              .duration( 200 )
              .style( "opacity", .9 );
            div.html( dmsconv.ddToDms( d.latitude, d.longitude ) + "<br/>" +
                "Mag : " + ( Math.round( d.magnitude * 10 ) / 10 ) )
              .style( "left", ( d3.event.pageX ) + "px" )
              .style( "top", ( d3.event.pageY - 28 ) + "px" )
              .style( "pointer-events", "none" );
          } )

          // fade out tooltip on mouse out
          .on( "mouseout", function ( d ) {
            div.transition()
              .duration( 500 )
              .style( "opacity", 0 )
              .style( "pointer-events", "all" );
          } );
      } );

      function zoomed() {
        g.attr( "transform",
          "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")" );
      }

      d3.select( self.frameElement ).style( "height", height + "px" );
    }
  },
  watch: {
    mls(val) {
      if(!val) {
        this.removeMagnitude();
      }
      else {
        this.drawMagnitude();
      }
    },
    ecls(val) {
      if(!val) {
        this.removeCentroid();
      }
      else {
        this.drawCentroid();
      }
    },
    tls(val) {
      if(!val) {
        this.removeTsunami();
      }
      else {
        this.drawTsunami();
      }
    },
    yearRange(val) {
      console.log(val);
      if(this.mls) {
        this.drawMagnitude();
      }
      if(this.ecls) {
        this.drawCentroid();
      }
      if(this.tls) {
        this.drawTsunami();
      }
    }
  },
  mounted() {
    this.initBublemapDatavis( this.$refs[ 'mapContainer' ] );
    this.drawMagnitude();
    this.drawCentroid();
    this.drawTsunami();
  },
}
</script>

<style>
.background {
  fill: none;
  stroke: #8e8e8e;
  stroke-width: 2;
}

.feature {
  fill: #ccc;
  stroke: #8e8e8e;
  cursor: pointer;
}

.feature.active {
  fill: orange;
}

.bubble {
  stroke-width: .1px;
  stroke: rgba(250, 250, 250, 0.8);
  fill: rgba(217, 11, 11, 0.7);
  /* rgba(217, 91, 67, 0.5); */
}

.bubble:hover {
  fill: rgba(217, 91, 67, 0.8);
}

.tri {
  stroke-width: .1px;
  stroke: rgba(239, 198, 0, 0.9);
  fill: rgba(239, 198, 0, 0.7);
  /* rgba(217, 91, 67, 0.5); */
}

.tri:hover {
  fill: rgba(239, 198, 0, 0.8);
}

.sqr {
  stroke-width: .1px;
  stroke: rgba(40, 53, 147, 0.9);
  fill: rgba(40, 53, 147, 0.7);
  /* rgba(217, 91, 67, 0.5); */
}

.sqr:hover {
  fill: rgba(40, 53, 147, 0.8);
}

/* Style for Custom Tooltip */

div.tooltip {
  position: absolute;
  text-align: center;
  width: 180px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: white;
  border: 0px;
  border-radius: 8px;
}

/* .svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
} */
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 55%;
    vertical-align: top;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
</style>
