<template>
  <v-app>
    <v-navigation-drawer v-model="sampingNav"
      fixed clipped
      app>
      <p>
        
      </p>
    </v-navigation-drawer>
    <v-toolbar dark class="primary:colors.grey.darken4"
        dense fixed clipped-left
        app>
      <v-toolbar-side-icon
        @click.stop="sampingNav = !sampingNav">
      </v-toolbar-side-icon>
      <img src="/public/crack.png" alt="Vuetify.js"/>
      <v-toolbar-title>
        <router-link to="/" tag="span" style="cursor: pointer">
          Gempa Bumi Indonesia
        </router-link>
        </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-xs-only">
        <v-btn flat
          v-for="item in menuItems"
          :key="item.title"
          router
          :to="item.link">
            <v-icon left>{{ item.icon }}</v-icon>
            {{ item.title }}
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-content>
      <router-view/>
    </v-content>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      sampingNav: false
    }
  },
  computed: {
    menuItems () {
      let menuItems = [
        {icon: 'info', title: 'Story', link: '/about'},
        {icon: 'graphic_eq', title: 'Fact', link: '/fact'}
      ]
      return menuItems
    }
  }
}
</script>
